<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context/
        http://www.springframework.org/schema/context/spring-context.xsd">
        <bean id="tennis" class="com.beaconfire.model.Tennis"
        init-method="init"/>
        <bean id="footBall" class="com.beaconfire.model.FootBall"/>
        <bean id="golf" class="com.beaconfire.model.Golf"/>
        <bean id="tennisPlayer" class="com.beaconfire.model.Player">
                <constructor-arg ref="tennis"/>
        </bean>
        <bean id="footBallPlayer" class="com.beaconfire.model.Player">
                <property name="footBall" ref="footBall"/>
        </bean>
        <bean id="golfPlayer" class="com.beaconfire.model.Player">
                <property name="golf" ref="golf"/>
        </bean>

</beans>
