<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--    TODO    -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://beaconfiretraining.cvjh8ezt6tlh.us-east-1.rds.amazonaws.com/JavaBackendTraining</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">Beaconfire#2022</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>




        <property name="hibernate.current_session_context_class">thread</property>
        <property name="show_sql">true</property>
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->

        <!--    TODO    -->
        <mapping class="domain.Bank"/>


    </session-factory>
</hibernate-configuration>